[submodule "splatter"]
	path = splatter
	url = git@github.com:MeshEnvy/splatter.git
[submodule "splat"]
	path = splat
	url = git@github.com:jmcmellen/splat.git
[submodule "mesh-rf-antennas"]
	path = mesh-rf-antennas
	url = git@github.com:WanderingMesh/mesh-rf-antennas.git
